* {
    --white: #fbf5ef;
    --yellow: #f2d3ab;
    --pink: #c69fa5;
    --purple: #8b6d9c;
    --blue: #494d7e;
    --darkblue: #272744;

    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--darkblue);
    color: white;
    font-size: 22px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "header"
    "main"
    "cards"
    "footer";
}

header {
    grid-area: header;
    height: 100vh;
}
.moon {
    display: grid;
    place-items: center;
}
#mon {
    max-width: 100%;
}

main {
    grid-area: main;
    background-color: var(--blue);
    padding: 100px 5vw;
}
.about-me {
    margin: 10%;
}
span{
    color: var(--yellow);
}
#ghost {
    float: left;
    width: 80px;
    shape-outside: circle();
}

h4 {
    color: var(--yellow);
}

.social {
    color: white;
}

.cards-container {
    grid-area: cards;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 8% 20% 5% 20%;
}

.card-image {
    width: 100%;
}

.card {
    border-radius: .3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--purple);
    margin: 20px;
    padding: 20px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 2);
}

footer {
    grid-area: footer;
    font-size: 20px;
    display: grid;
    place-items: center;
}
