:root {
    --white: #fbf5ef;
    --yellow: #f2d3ab;
    --pink: #c69fa5;
    --purple: #8b6d9c;
    --blue: #494d7e;
    --darkblue: #272744;
  }
body {
    letter-spacing: 3px;
    font-size: 22px;
    margin: 0;
    font-weight: 650;
    font-family: 'Arimo', sans-serif;
    color: white;
    background-color: var(--darkblue);
}

#moon {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    max-width: 700px;
}

#ghost {
    width: 120px;
}

span {
    color: var(--yellow);
}

.moon-container {
    height: 100vh;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.arrow svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 78px;
}

.arrow .shape-fill {
    fill: #494d7e;
}
.wave-top {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave-top svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 237px;
}

.wave-top .shape-fill {
    fill: #FFFFFF;
}

.wave-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 237px;
}

.wave-bottom .shape-fill {
    fill: #FFFFFF;
}

.about-me {
    background-color: var(--blue);
}

.artworks {
    background-color: var(--blue);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}